
{% extends 'tango/base.html' %}
{% block title %} HomePage {% endblock %}

{% block body_block %}

		<a href = "/tango/about/"> About </a>

		{% if user.is_authenticated %}
		<a  href="/tango/restricted/">Restricted Page</a><br />

		<a href="/tango/logout/">Logout</a><br />

		{% else %}

		<a href="/tango/register/">Register Here</a><br />

		<a href="/tango/login/">Login</a><br />

		{% endif %}


		<a href="/tango/add_category/">Add a New Category</a>

		{% if categories %}
			<ul>
				{% for category in categories %}
				<li><a href="/tango/category/{{ category.url }}"> || {{ category.name }} </li>
				{% endfor %}
			</ul>
		{% else %}
			<strong> There are no categories present </strong>
		{% endif %}
		

{% endblock %}





